<!doctype html>
<html>
<%- include('head',{title:"Add book" }) %>

    <body>
        <%- include('nav') %>
            <main class="responsive">
                <div class="fill medium-height middle-align center-align">
                    <div class="center-align">
                      <i class="extra">auto_stories</i>
                      <h1>BiblioTech</h1>
                      <p>The Marie Kondo for your bookshelf</p>
                      <div class="space"></div>
                      <nav class="center-align">
                        <button class="border" 
                        onClick="window.open('/signin','_self')">Login</button>
                        <button class="border" 
                    onClick="window.open('/signup','_self')">Register</button>
                      </nav>
                    </div>
                  </div>
            </main>
    </body>

</html>